.snap-start {
  scroll-snap-align: start;
}
.snap-center {
  scroll-snap-align: center;
}
.snap-end {
  scroll-snap-align: end;
}
.snap-alingn-none {
  scroll-snap-align: none;
}
/* proximity is the default value */
.snap-none {
  scroll-snap-type: none;
}
.snap-x {
  scroll-snap-type: x;
}
.snap-y {
  scroll-snap-type: y;
}
.snap-block {
  scroll-snap-type: block;
}
.snap-inline {
  scroll-snap-type: inline;
}
.snap-both {
  scroll-snap-type: both;
}
.snap-x-mandatory {
  scroll-snap-type: x mandatory;
}
.snap-y-mandatory {
  scroll-snap-type: y mandatory;
}
.snap-both-mandatory {
  scroll-snap-type: both mandatory;
}
