.link {
  text-decoration: var(--link-text-decoration, underline);
  text-decoration-color: var(--link-text-decoration-color, var(--grape));
  text-decoration-thickness: var(--link-text-decoration-thickness, 2px);
  underline-offset: var(--link-underline-offset, 2px);
  color: var(--link-color, var(--color, var(--black)));
}

.link:hover,
.link:visited:hover {
  --link-color: var(--link-hover-color, var(--grape-hover));
  --link-text-decoration-color: var(
    --link-text-decoration-color-hover,
    var(--grape-hover)
  );
}
.link:active {
  --link-color: var(--link-color-active, var(--grape-pressed));
  --link-text-decoration-color: var(
    --link-text-decoration-color-active,
    var(--grape-pressed)
  );
}
.link:visited {
  --link-color: var(--link-visited-color, var(--black));
  --link-text-decoration-color: var(
    --link-text-decoration-color-visited,
    var(--black)
  );
}
.link:focus-visible {
  --link-color: var(--link-focus-color, var(--black));
  --link-text-decoration-color: var(
    --link-text-decoration-color-focus,
    var(--grape)
  );
  outline: var(--link-focus-outline-width, 1px) solid
    var(--link-focus-outline-color, var(--grape));
  box-shadow: 0px 0px 4px 0px var(--link-focus-shadow-color, var(--grape));
}
