.grape-light,
.grape-light_hover:hover,
.grape-light_active:active {
  color: var(--grape-light);
}
.grape,
.grape_hover:hover,
.grape_active:active {
  color: var(--grape);
}
.grape-dark,
.grape-dark_hover:hover,
.grape-dark_active:active {
  color: var(--grape-dark);
}
.grape-90,
.grape-90_hover:hover,
.grape-90_active:active {
  color: var(--grape-90);
}
.grape-80,
.grape-80_hover:hover,
.grape-80_active:active {
  color: var(--grape-80);
}
.grape-70,
.grape-70_hover:hover,
.grape-70_active:active {
  color: var(--grape-70);
}
.grape-60,
.grape-60_hover:hover,
.grape-60_active:active {
  color: var(--grape-60);
}
.grape-50,
.grape-50_hover:hover,
.grape-50_active:active {
  color: var(--grape-50);
}
.grape-40,
.grape-40_hover:hover,
.grape-40_active:active {
  color: var(--grape-40);
}
.grape-30,
.grape-30_hover:hover,
.grape-30_active:active {
  color: var(--grape-30);
}
.grape-20,
.grape-20_hover:hover,
.grape-20_active:active {
  color: var(--grape-20);
}
.grape-10,
.grape-10_hover:hover,
.grape-10_active:active {
  color: var(--grape-10);
}
