@responsive {
  .basis_25 {
    flex-basis: 25%;
  }
  .basist_33 {
    flex-basis: 33.333333%;
  }
  .basis_50 {
    flex-basis: 50%;
  }
  .basis_66 {
    flex-basis: 66.666666%;
  }
  .basis_75 {
    flex-basis: 75%;
  }
  .basis_100 {
    flex-basis: 100%;
  }
}
