@responsive {
  .auto-col {
    grid-auto-columns: auto;
  }
  .auto-col-min {
    grid-auto-columns: min-content;
  }
  .auto-col-max {
    grid-auto-columns: max-content;
  }
  .auto-col-fr {
    grid-auto-columns: minmax(0, 1fr);
  }
}
