@responsive {
  .justify-items-flex-start {
    justify-items: flex-start;
  }
  .justify-items-flex-end {
    justify-items: flex-end;
  }
  .justify-items-center {
    justify-items: center;
  }
  .justify-items-start {
    justify-items: start;
  }
  .justify-items-end {
    justify-items: end;
  }
  .justify-items-stretch {
    justify-items: stretch;
  }
  .justify-items-self-start {
    justify-items: self-start;
  }
  .justify-items-self-end {
    justify-items: self-end;
  }
  .justify-items-left {
    justify-items: left;
  }
  .justify-items-right {
    justify-items: right;
  }
  .justify-items-normal {
    justify-items: normal;
  }
  .justify-items-stretch {
    justify-items: stretch;
  }
}
