@responsive {
  .justify-self-center {
    justify-self: center;
  }
  .justify-self-start {
    justify-self: start;
  }
  .justify-self-end {
    justify-self: end;
  }
  .justify-self-flex-start {
    justify-self: flex-start;
  }
  .justify-self-flex-end {
    justify-self: flex-end;
  }
  .justify-self-self-start {
    justify-self: self-start;
  }
  .justify-self-self-end {
    justify-self: self-end;
  }
  .justify-self-right {
    justify-self: right;
  }
  .justify-self-left {
    justify-self: left;
  }
  .justify-self-stretch {
    justify-self: stretch;
  }
  .justify-self-normal {
    justify-self: normal;
  }
  .justify-self-auto {
    justify-self: auto;
  }
}
