.skeleton {
  background: var(--skeleton);
}

.skeleton-loading,
.skeleton-loading-children > * {
  background: var(--skeleton);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}

@keyframes skeleton-loading {
  to {
    background-position-x: -200%;
  }
}
