.scale-025 {
  transform: scale(0.25);
}
.scale-05 {
  transform: scale(0.5);
}
.scale-075 {
  transform: scale(0.75);
}
.scale-1 {
  transform: scale(1);
}
.scale-125 {
  transform: scale(1.25);
}
.scale-150 {
  transform: scale(1.5);
}
.scale-175 {
  transform: scale(1.75);
}
.scale-200 {
  transform: scale(2);
}
.scale-x-0 {
  transform: scaleX(0);
}
.scale-x-025 {
  transform: scaleX(0.25);
}
.scale-x-05 {
  transform: scaleX(0.5);
}
.scale-x-075 {
  transform: scaleX(0.75);
}
.scale-x-1 {
  transform: scaleX(1);
}
.scale-x-125 {
  transform: scaleX(1.25);
}
.scale-x-150 {
  transform: scaleX(1.5);
}
.scale-x-175 {
  transform: scaleX(1.75);
}
.scale-x-200 {
  transform: scaleX(2);
}
.scale-y-0 {
  transform: scaleY(0);
}
.scale-y-025 {
  transform: scaleY(0.25);
}
.scale-y-05 {
  transform: scaleY(0.5);
}
.scale-y-075 {
  transform: scaleY(0.75);
}
.scale-y-1 {
  transform: scaleY(1);
}
.scale-y-125 {
  transform: scaleY(1.25);
}
.scale-y-150 {
  transform: scaleY(1.5);
}
.scale-y-175 {
  transform: scaleY(1.75);
}
.scale-y-200 {
  transform: scaleY(2);
}
