.font-thin {
  --font-weight: var(--fw-100);
  font-weight: var(--font-weight);
}
.font-extralight {
  --font-weight: var(--fw-200);
  font-weight: var(--font-weight);
}
.font-light {
  --font-weight: var(--light);
  font-weight: var(--font-weight);
}
.font-regular {
  --font-weight: var(--regular);
  font-weight: var(--font-weight);
}
.font-medium {
  --font-weight: var(--medium);
  font-weight: var(--font-weight);
}
.font-bold {
  --font-weight: var(--semi-bold);
  font-weight: var(--font-weight);
}
.font-semibold {
  --font-weight: var(--bold);
  font-weight: var(--font-weight);
}
.font-extrabold {
  --font-weight: var(--fw-800);
  font-weight: var(--font-weight);
}
.font-black {
  --font-weight: var(--fw-900);
  font-weight: var(--font-weight);
}
