.title-1,
.title-1-med,
.title-1-semibold,
.title-1-bold {
  font-size: var(--title-1);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.21875);
  color: var(--color, var(--black));
}
.title-2,
.title-2-med,
.title-2-semibold,
.title-2-bold {
  font-size: var(--title-2);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.25);
  color: var(--color, var(--black));
}
.title-3,
.title-3-med,
.title-3-semibold,
.title-3-bold {
  font-size: var(--title-3);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.2);
  color: var(--color, var(--black));
}
.title-4,
.title-4-med,
.title-4-semibold,
.title-4-bold {
  font-size: var(--title-4);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.1875);
  color: var(--color, var(--black));
}
.title-5,
.title-5-med,
.title-5-semibold,
.title-5-bold {
  font-size: var(--title-5);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.25);
  color: var(--color, var(--black));
}
.title-6,
.title-6-med,
.title-6-semibold,
.title-6-bold {
  font-size: var(--title-6);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.2);
  color: var(--color, var(--black));
}

.lead,
.lead-med,
.lead-semibold,
.lead-bold,
.lead-light,
.lead-italic,
.lead-link {
  font-size: var(--lead);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  font-style: var(--font-style, normal);
  text-decoration-line: var(--text-decoration-line, none);
  line-height: var(--line-height, 1.5);
  color: var(--color, var(--black));
}
.body,
.body-med,
.body-semibold,
.body-bold,
.body-light,
.body-italic,
.body-link {
  font-size: var(--body);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  font-style: var(--font-style, normal);
  text-decoration-line: var(--text-decoration-line, none);
  line-height: var(--line-height, 1.5);
  color: var(--color, var(--black));
}
.label,
.label-med,
.label-semibold,
.label-bold,
.label-light,
.label-italic,
.label-link {
  font-size: var(--label);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  font-style: var(--font-style, normal);
  text-decoration-line: var(--text-decoration-line, none);
  line-height: var(--line-height, 1.2857);
  color: var(--color, var(--black));
}
.caption,
.caption-med,
.caption-semibold,
.caption-bold,
.caption-light,
.caption-italic,
.caption-link {
  font-size: var(--caption);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  font-style: var(--font-style, normal);
  text-decoration-line: var(--text-decoration-line, none);
  line-height: var(--line-height, 1.25);
  color: var(--color, var(--black));
}
.small,
.small-med,
.small-semibold,
.small-bold {
  font-size: var(--small);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1.2);
  color: var(--color, var(--black));
}
.overline-lg,
.overline-lg-med,
.overline-lg-semibold,
.overline-lg-bold {
  font-size: var(--overline-lg);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1);
  color: var(--color, var(--black));
  letter-spacing: 0.5px;
  text-transform: var(--text-transform, uppercase);
}
.overline-sm,
.overline-sm-med,
.overline-sm-semibold,
.overline-sm-bold {
  font-size: var(--overline-sm);
  font-family: var(--font-family, var(--sans-serif));
  font-weight: var(--font-weight, var(--regular));
  line-height: var(--line-height, 1);
  color: var(--color, var(--black));
  letter-spacing: 0.5px;
  text-transform: var(--text-transform, uppercase);
}

.lead-light,
.body-light,
.body-italic,
.label-light,
.label-italic,
.caption-light,
.caption-italic {
  --font-weight: var(--light);
}
.title-1-med,
.title-2-med,
.title-3-med,
.title-4-med,
.title-5-med,
.title-6-med,
.lead-med,
.lead-italic,
.lead-link,
.body-med,
.body-link,
.label-med,
.label-link,
.caption-med,
.caption-link,
.small-med,
.overline-lg-med,
.overline-sm-med {
  --font-weight: var(--medium);
}

.title-1-semibold,
.title-2-semibold,
.title-3-semibold,
.title-4-semibold,
.title-5-semibold,
.title-6-semibold,
.lead-semibold,
.body-semibold,
.label-semibold,
.caption-semibold,
.small-semibold,
.overline-lg-semibold,
.overline-sm-semibold {
  --font-weight: var(--semibold);
}
.title-1-bold,
.title-2-bold,
.title-3-bold,
.title-4-bold,
.title-5-bold,
.title-6-bold,
.lead-bold,
.body-bold,
.label-bold,
.caption-bold,
.small-bold,
.overline-lg-bold,
.overline-sm-bold {
  --font-weight: var(--bold);
}
.lead-italic,
.body-italic,
.label-italic,
.caption-italic {
  --font-style: italic;
}
.lead-link,
.body-link,
.label-link,
.caption-link,
.small-link {
  --text-decoration-line: underline;
}
