/* .border-0,
.border-1,
.border-2,
.border-4,
.border-t-0,
.border-t-1,
.border-t-2,
.border-t-4,
.border-r-0,
.border-r-1,
.border-r-2,
.border-r-4,
.border-b-0,
.border-b-1,
.border-b-2,
.border-b-4,
.border-l-0,
.border-l-1,
.border-l-2,
.border-l-4,
.border-y-0,
.border-y-1,
.border-y-2,
.border-y-4,
.border-x-0,
.border-x-1,
.border-x-2,
.border-x-4 {
	border-style: var(--border-style, solid);
	border-color: var(--border-color, var(--black));
} */
.border-0 {
	border-width: 0;
}
.border-1 {
	border-width: 1px;
}
.border-2 {
	border-width: 2px;
}
.border-4 {
	border-width: 4px;
}

.border-t-0 {
	border-top-width: 0;
}
.border-t-1 {
	border-top-width: 1px;
}
.border-t-2 {
	border-top-width: 2px;
}
.border-t-4 {
	border-top-width: 4px;
}

.border-r-0 {
	border-right-width: 0;
}
.border-r-1 {
	border-right-width: 1px;
}
.border-r-2 {
	border-right-width: 2px;
}
.border-r-4 {
	border-right-width: 4px;
}

.border-b-0 {
	border-bottom-width: 0;
}
.border-b-1 {
	border-bottom-width: 1px;
}
.border-b-2 {
	border-bottom-width: 2px;
}
.border-b-4 {
	border-bottom-width: 4px;
}

.border-l-0 {
	border-left-width: 0;
}
.border-l-1 {
	border-left-width: 1px;
}
.border-l-2 {
	border-left-width: 2px;
}
.border-l-4 {
	border-left-width: 4px;
}

.border-y-0 {
	border-top-width: 0;
	border-bottom-width: 0;
}
.border-y-1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.border-y-2 {
	border-top-width: 2px;
	border-bottom-width: 2px;
}
.border-y-4 {
	border-top-width: 4px;
	border-bottom-width: 4px;
}

.border-x-0 {
	border-left-width: 0;
	border-right-width: 0;
}
.border-x-1 {
	border-left-width: 1px;
	border-right-width: 1px;
}
.border-x-2 {
	border-left-width: 2px;
	border-right-width: 2px;
}
.border-x-4 {
	border-left-width: 4px;
	border-right-width: 4px;
}
