@responsive {
	.a-self-center {
		align-self: center;
	}
	.a-self-start {
		align-self: start;
	}
	.a-self-end {
		align-self: end;
	}
	.a-self-flex-start {
		align-self: flex-start;
	}
	.a-self-flex-end {
		align-self: flex-end;
	}
	.a-self-self-start {
		align-self: self-start;
	}
	.a-self-self-end {
		align-self: self-end;
	}
	.a-self-stretch {
		align-self: stretch;
	}
	.a-self-normal {
		align-self: normal;
	}
	.a-self-auto {
		align-self: auto;
	}
}
