.a-items-flex-start {
	align-items: flex-start;
}
.a-items-flex-end {
	align-items: flex-end;
}
.a-items-center {
	align-items: center;
}
.a-items-start {
	align-items: start;
}
.a-items-end {
	align-items: end;
}
.a-items-normal {
	align-items: normal;
}
.a-items-stretch {
	align-items: stretch;
}
