@responsive {
  .aspect-auto {
    aspect-ratio: auto;
  }
  .aspect-1 {
    aspect-ratio: 1 / 1;
  }
  .aspect-3x4 {
    aspect-ratio: 3 / 4;
  }
  .aspect-4x3 {
    aspect-ratio: 4 / 3;
  }
  .aspect-9x16 {
    aspect-ratio: 9 / 16;
  }
  .aspect-16x9 {
    aspect-ratio: 16 / 9;
  }
  .aspect-21x9 {
    aspect-ratio: 21 / 9;
  }
  .aspect-9x21 {
    aspect-ratio: 9 / 21;
  }
}
