.badge {
  --badge-padding: var(--space-0-5) var(--space-2);

  background: var(--badge-bg, var(--gray-3));
  color: var(--badge-color, var(--gray-7));
  padding: var(--badge-padding);
  font-size: var(--badge-fs, var(--overline-small));
  line-height: var(--badge-lh, 1);
  font-weight: var(--badge-fw, var(--fw-700));
  gap: var(--badge-gap, 0);
  border-radius: var(--badge-border-radius, var(--space-1));
  display: var(--badge-display, inline-flex);
  align-items: var(--badge-align, center);
  justify-content: var(--badge-justify, center);
  text-transform: var(--badge-text-transform. uppercase);
  letter-spacing: var(--badge-ls, var(--ls-1));
}
.badge-sm {
  --badge-fs: var(--overline-small);
}
.badge-med {
  --badge-fs: var(--overline-large);
  --badge-padding: var(--space-1) var(--space-2);
}
.badge-success {
  --badge-color: var(--success);
  --badge-bg: var(--success-light);
}
.badge-error {
  --badge-color: var(--error);
  --badge-bg: var(--error-light);
}
.badge-alert {
  --badge-color: var(--alert);
  --badge-bg: var(--alert-light);
}
.badge-info {
  --badge-color: var(--info);
  --badge-bg: var(--info-light);
}
.badge-warning {
  --badge-color: var(--warning);
  --badge-bg: var(--warning-light);
}
.badge-navy-dark {
  --badge-color: var(--white);
  --badge-bg: var(--navy-dark);
}
