@responsive {
  button,
  .btn {
    --_bg: var(--btn-bg);
    --_color: var(--btn-color);
    --_border-width: var(--btn-border-width);
    --_border-color: var(--btn-border-color);
    --_border-style: var(--btn-border-style);
    --_border-radius: var(--btn-border-radius);
    --_padding: var(--btn-padding, 0);
    --_fs: var(--btn-fs, var(--body));
    --_fw: var(--btn-fw, var(--fw-5));
    --_lh: var(--btn-lh, 1.5);
    --_gap: var(--btn-gap, 9px);
    --_min-width: var(--btn-min-width, auto);
    --_min-height: var(--btn-min-height, auto);

    border-width: var(--_border-width);
    border-color: var(--_border-color);
    border-style: var(--_border-style);
    border-radius: var(--_border-radius);
    font-size: var(--_fs);
    font-weight: var(--_fw);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--_gap);
    min-width: var(--_min-width);
    min-height: var(--_min-height);
    padding: var(--_padding);
    cursor: pointer;
  }

  button {
    background: var(--_bg);
    color: var(--_color);
  }

  .btn-outline {
    --btn-bg: transparent;
    --btn-border-color: currentcolor;
    --btn-border-style: solid;
    --btn-border-width: 1.5px;
    background-color: var(--btn-bg) !important;
    border: var(--_border-width) var(--_border-style) var(--_border-color);
  }

  .btn-ghost {
    background: transparent !important;
    border: 0 !important;
  }

  button[disabled],
  .btn-disabled {
    --btn-bg: var(--gray-3);
    --btn-color: var(--gray-6);
    color: var(--btn-color) !important;
    background: var(--btn-bg) !important;
  }

  .btn-outline[disabled] {
    --btn-border-color: var(--gray-6);
    --btn-background: transparent;
    background: var(--btn-background) !important;
  }

  .btn-ghost[disabled] {
    --btn-color: var(--gray-6);
    --btn-bg: transparent;
  }

  .btn-sm {
    --btn-min-width: 77px;
    --btn-min-height: 32px;
    --btn-padding: var(--space-0-5) var(--space-3);
  }

  .btn-med {
    --btn-min-width: 85px;
    --btn-min-height: 40px;
    --btn-padding: var(--space-1-5) var(--space-4);
  }

  .btn-lg {
    --btn-min-width: 101px;
    --btn-min-height: 48px;
    --btn-padding: var(--space-2-5) var(--space-6);
  }

  .btn-round {
    --btn-border-radius: 12px;
  }

  .btn-icon[class*='btn-sm'] {
    --btn-min-width: 97px;
  }
  .btn-icon[class*='btn-md'] {
    --btn-min-width: 105px;
  }
  .btn-icon[class*='btn-lg'] {
    --btn-min-width: 121px;
  }
  .btn-icons[class*='btn-sm'] {
    --btn-min-width: 117px;
  }
  .btn-icons[class*='btn-md'] {
    --btn-min-width: 125px;
  }
  .btn-icons[class*='btn-lg'] {
    --btn-min-width: 141px;
  }
}
