.hover-bg:hover {
  background-color-bg: var(--hover);
}
.pressed-bg:active {
  background-color-bg: var(--pressed);
}
.hover-alt-bg:hover {
  background-color-bg: var(--hover-alt);
}
.pressed-alt-bg:active {
  background-color-bg: var(--pressed-alt);
}
