.citrus-light_hover:hover {
  color: var(--citrus-light);
}
.citrus_hover:hover {
  color: var(--citrus);
}
.citrus-dark_hover:hover {
  color: var(--citrus-dark);
}
.citrus-light-bg_hover:hover {
  background-color: var(--citrus-light);
}
.citrus-bg_hover:hover {
  background-color: var(--citrus);
}
.citrus-dark-bg_hover:hover {
  background-color: var(--citrus-dark);
}
