.info,
.info_hover:hover,
.info_active:active {
  color: var(--info);
}
.info-light,
.info-light_hover:hover,
.info-light_active:active {
  color: var(--info-light);
}
.success,
.success_hover:hover,
.success_active:active {
  color: var(--success);
}
.success-light,
.success-light_hover:hover,
.success-light_active:active {
  color: var(--success-light);
}
.alert,
.alert_hover:hover,
.alert_active:active {
  color: var(--alert);
}
.alert-light,
.alert-light_hover:hover,
.alert-light_active:active {
  color: var(--alert-light);
}
.warning,
.warning_hover:hover,
.warning_active:active {
  color: var(--warning);
}
.warning-light,
.warning-light_hover:hover,
.warning-light_active:active {
  color: var(--warning-light);
}
.error,
.error_hover:hover,
.error_active:active {
  color: var(--error);
}
.error-light,
.error-light_hover:hover,
.error-light_active:active {
  color: var(--error-light);
}
