.coral-light,
.coral-light_hover:hover,
.coral-light_active:active {
  color: var(--coral-light);
}
.coral,
.coral_hover:hover,
.coral_active:active {
  color: var(--coral);
}
.coral-dark,
.coral-dark_hover:hover,
.coral-dark_active:active {
  color: var(--coral-dark);
}
