.navy-light {
  color: var(--navy-light);
}
.navy {
  color: var(--navy);
}
.navy-dark {
  color: var(--navy-dark);
}
.navy-90 {
  color: var(--navy-90);
}
.navy-80 {
  color: var(--navy-80);
}
.navy-70 {
  color: var(--navy-70);
}
.navy-60 {
  color: var(--navy-60);
}
.navy-50 {
  color: var(--navy-50);
}
.navy-40 {
  color: var(--navy-40);
}
.navy-30 {
  color: var(--navy-30);
}
.navy-20 {
  color: var(--navy-20);
}
.navy-10 {
  color: var(--navy-10);
}
