.gray-1-bg {
  background-color: var(--gray-1);
}
.gray-2-bg {
  background-color: var(--gray-2);
}
.gray-3-bg {
  background-color: var(--gray-3);
}
.gray-4-bg {
  background-color: var(--gray-4);
}
.gray-5-bg {
  background-color: var(--gray-5);
}
.gray-6-bg {
  background-color: var(--gray-6);
}
.gray-7-bg {
  background-color: var(--gray-7);
}
.gray-8-bg {
  background-color: var(--gray-8);
}
.gray-9-bg {
  background-color: var(--gray-9);
}
