.thin,
.fw-100 {
  font-weight: var(--fw-1);
}
.extra-light,
.fw-200 {
  font-weight: var(--fw-2);
}
.light,
.fw-300 {
  font-weight: var(--fw-3);
}
.regular,
.fw-400 {
  font-weight: var(--fw-4);
}
.medium,
.fw-500 {
  font-weight: var(--fw-5);
}
.bold,
.fw-600 {
  font-weight: var(--fw-6);
}
.semi-bold,
.fw-700 {
  font-weight: var(--fw-7);
}
.extra-bold,
.fw-800 {
  font-weight: var(--fw-8);
}
.black-bold,
.fw-900 {
  font-weight: var(--fw-9);
}
