.gap-0 {
	gap: var(--space-0);
}
.gap-0_5 {
	gap: var(--space-0-5);
}
.gap-1 {
	gap: var(--space-1);
}
.gap-1_5 {
	gap: var(--space-1-5);
}
.gap-2 {
	gap: var(--space-2);
}
.gap-2_5 {
	gap: var(--space-2-5);
}
.gap-3 {
	gap: var(--space-3);
}
.gap-3_5 {
	gap: var(--space-3-5);
}
.gap-4 {
	gap: var(--space-4);
}
.gap-5 {
	gap: var(--space-5);
}
.gap-6 {
	gap: var(--space-6);
}
.gap-7 {
	gap: var(--space-7);
}
.gap-8 {
	gap: var(--space-8);
}
.gap-9 {
	gap: var(--space-9);
}
.gap-10 {
	gap: var(--space-10);
}
.gap-11 {
	gap: var(--space-11);
}
.gap-12 {
	gap: var(--space-12);
}
.gap-13 {
	gap: var(--space-13);
}
.gap-14 {
	gap: var(--space-14);
}
.gap-15 {
	gap: var(--space-15);
}
.gap-16 {
	gap: var(--space-16);
}
.gap-20 {
	gap: var(--space-20);
}
.gap-24 {
	gap: var(--space-24);
}
.gap-28 {
	gap: var(--space-28);
}
.gap-32 {
	gap: var(--space-32);
}
.gap-36 {
	gap: var(--space-36);
}
.gap-40 {
	gap: var(--space-40);
}
.gap-44 {
	gap: var(--space-44);
}
.gap-48 {
	gap: var(--space-48);
}
.gap-52 {
	gap: var(--space-52);
}
.gap-56 {
	gap: var(--space-56);
}
.gap-60 {
	gap: var(--space-60);
}
.gap-64 {
	gap: var(--space-64);
}
.gap-72 {
	gap: var(--space-72);
}
.gap-80 {
	gap: var(--space-80);
}
.gap-84 {
	gap: var(--space-84);
}
.gap-96 {
	gap: var(--space-96);
}
.gap-100 {
	gap: var(--space-100);
}

.gap-row-0 {
	row-gap: var(--space-0);
}
.gap-row-0_5 {
	row-gap: var(--space-0-5);
}
.gap-row-1 {
	row-gap: var(--space-1);
}
.gap-row-1_5 {
	row-gap: var(--space-1-5);
}
.gap-row-2 {
	row-gap: var(--space-2);
}
.gap-row-2_5 {
	row-gap: var(--space-2-5);
}
.gap-row-3 {
	row-gap: var(--space-3);
}
.gap-row-3_5 {
	row-gap: var(--space-3-5);
}
.gap-row-4 {
	row-gap: var(--space-4);
}
.gap-row-5 {
	row-gap: var(--space-5);
}
.gap-row-6 {
	row-gap: var(--space-6);
}
.gap-row-7 {
	row-gap: var(--space-7);
}
.gap-row-8 {
	row-gap: var(--space-8);
}
.gap-row-9 {
	row-gap: var(--space-9);
}
.gap-row-10 {
	row-gap: var(--space-10);
}
.gap-row-11 {
	row-gap: var(--space-11);
}
.gap-row-12 {
	row-gap: var(--space-12);
}
.gap-row-13 {
	row-gap: var(--space-13);
}
.gap-row-14 {
	row-gap: var(--space-14);
}
.gap-row-15 {
	row-gap: var(--space-15);
}
.gap-row-16 {
	row-gap: var(--space-16);
}
.gap-row-20 {
	row-gap: var(--space-20);
}
.gap-row-24 {
	row-gap: var(--space-24);
}
.gap-row-28 {
	row-gap: var(--space-28);
}
.gap-row-32 {
	row-gap: var(--space-32);
}
.gap-row-36 {
	row-gap: var(--space-36);
}
.gap-row-40 {
	row-gap: var(--space-40);
}
.gap-row-44 {
	row-gap: var(--space-44);
}
.gap-row-48 {
	row-gap: var(--space-48);
}
.gap-row-52 {
	row-gap: var(--space-52);
}
.gap-row-56 {
	row-gap: var(--space-56);
}
.gap-row-60 {
	row-gap: var(--space-60);
}
.gap-row-64 {
	row-gap: var(--space-64);
}
.gap-row-72 {
	row-gap: var(--space-72);
}
.gap-row-80 {
	row-gap: var(--space-80);
}
.gap-row-84 {
	row-gap: var(--space-84);
}
.gap-row-96 {
	row-gap: var(--space-96);
}
.gap-row-100 {
	row-gap: var(--space-100);
}

.gap-col-0 {
	column-gap: var(--space-0);
}
.gap-col-0_5 {
	column-gap: var(--space-0-5);
}
.gap-col-1 {
	column-gap: var(--space-1);
}
.gap-col-1_5 {
	column-gap: var(--space-1-5);
}
.gap-col-2 {
	column-gap: var(--space-2);
}
.gap-col-2_5 {
	column-gap: var(--space-2-5);
}
.gap-col-3 {
	column-gap: var(--space-3);
}
.gap-col-3_5 {
	column-gap: var(--space-3-5);
}
.gap-col-4 {
	column-gap: var(--space-4);
}
.gap-col-5 {
	column-gap: var(--space-5);
}
.gap-col-6 {
	column-gap: var(--space-6);
}
.gap-col-7 {
	column-gap: var(--space-7);
}
.gap-col-8 {
	column-gap: var(--space-8);
}
.gap-col-9 {
	column-gap: var(--space-9);
}
.gap-col-10 {
	column-gap: var(--space-10);
}
.gap-col-11 {
	column-gap: var(--space-11);
}
.gap-col-12 {
	column-gap: var(--space-12);
}
.gap-col-13 {
	column-gap: var(--space-13);
}
.gap-col-14 {
	column-gap: var(--space-14);
}
.gap-col-15 {
	column-gap: var(--space-15);
}
.gap-col-16 {
	column-gap: var(--space-16);
}
.gap-col-20 {
	column-gap: var(--space-20);
}
.gap-col-24 {
	column-gap: var(--space-24);
}
.gap-col-28 {
	column-gap: var(--space-28);
}
.gap-col-32 {
	column-gap: var(--space-32);
}
.gap-col-36 {
	column-gap: var(--space-36);
}
.gap-col-40 {
	column-gap: var(--space-40);
}
.gap-col-44 {
	column-gap: var(--space-44);
}
.gap-col-48 {
	column-gap: var(--space-48);
}
.gap-col-52 {
	column-gap: var(--space-52);
}
.gap-col-56 {
	column-gap: var(--space-56);
}
.gap-col-60 {
	column-gap: var(--space-60);
}
.gap-col-64 {
	column-gap: var(--space-64);
}
.gap-col-72 {
	column-gap: var(--space-72);
}
.gap-col-80 {
	column-gap: var(--space-80);
}
.gap-col-84 {
	column-gap: var(--space-84);
}
.gap-col-96 {
	column-gap: var(--space-96);
}
.gap-col-100 {
	column-gap: var(--space-100);
}
