.grid-row-1 {
	grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid-row-2 {
	grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-row-3 {
	grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-row-4 {
	grid-template-rows: repeat(4, minmax(0, 1fr));
}
.grid-row-5 {
	grid-template-rows: repeat(5, minmax(0, 1fr));
}
.grid-row-6 {
	grid-template-rows: repeat(6, minmax(0, 1fr));
}
.grid-row-7 {
	grid-template-rows: repeat(7, minmax(0, 1fr));
}
.grid-row-8 {
	grid-template-rows: repeat(8, minmax(0, 1fr));
}
.grid-row-9 {
	grid-template-row: repeat(9, minmax(0, 1fr));
}
.grid-row-10 {
	grid-template-row: repeat(10, minmax(0, 1fr));
}
.grid-row-11 {
	grid-template-row: repeat(11, minmax(0, 1fr));
}
.grid-row-12 {
	grid-template-row: repeat(12, minmax(0, 1fr));
}
