._pos {
	--_top: var(--top, auto);
	--_right: var(--right, auto);
	--_bottom: var(--bottom, auto);
	--_left: var(--left, auto);
	top: var(--_top);
	left: var(--_left);
	right: var(--_right);
	bottom: var(--_bottom);
}
