.mw-5 {
	max-max-width: 5%;
}
.mw-10 {
	max-width: 10%;
}
.mw-15 {
	max-width: 15%;
}
.mw-20 {
	max-width: 20%;
}
.mw-25 {
	max-width: 25%;
}
.mw-30 {
	max-width: 30%;
}
.mw-33 {
	max-width: calc(100% / 3);
}
.mw-35 {
	max-width: 35%;
}
.mw-40 {
	max-width: 40%;
}
.mw-45 {
	max-width: 45%;
}
.mw-50 {
	max-width: 50%;
}
.mw-55 {
	max-width: 55%;
}
.mw-60 {
	max-width: 60%;
}
.mw-65 {
	max-width: 65%;
}
.mw-66 {
	max-width: calc((100% / 3) * 2);
}
.mw-70 {
	max-width: 70%;
}
.mw-75 {
	max-width: 75%;
}
.mw-80 {
	max-width: 80%;
}
.mw-85 {
	max-width: 85%;
}
.mw-90 {
	max-width: 90%;
}
.mw-95 {
	max-width: 95%;
}
.mw-100 {
	max-width: 100%;
}
.mw-max {
	max-width: max-content;
}
.mw-min {
	max-width: min-content;
}
._mw {
	--_max-width: var(--max-width, none);
	max-width: var(--_max-width);
}
