/* @custom-media --sm (width >= 480px); */
@custom-media --sm (width >= 300px);
@custom-media --sm-max (width <= 480px);
@custom-media --sm-only (480px <= width <= 768px);

@custom-media --md (width >= 768px);
@custom-media --md-max (width <= 768px);
@custom-media --md-only (768px <= width <= 1024px);

@custom-media --lg (width >= 1024px);
@custom-media --lg-max (width <= 1024px);
@custom-media --lg-only (1024px <= width <= 1440px);

@custom-media --xl (width >= 1440px);
@custom-media --xl-max (width <= 1440px);
@custom-media --xl-only (1440px <= width <= 1920px);

@custom-media --xxl (width >= 1920px);
@custom-media --xxl-max (width <= 1920px);

@custom-media --portrait (orientation: portrait);
@custom-media --landscape (orientation: landscape);

@custom-media --sm-phone (--sm-only) and (--portrait);
@custom-media --md-phone (--md-only) and (--portrait);
@custom-media --lg-phone (--lg-only) and (--portrait);

@custom-media --motionOK (prefers-reduced-motion: no-preference);
@custom-media --motionNotOK (prefers-reduced-motion: reduce);
@custom-media --opacityOK (prefers-reduced-transparency: no-preference);
@custom-media --opacityNotOK (prefers-reduced-transparency: reduce);
@custom-media --useDataOK (prefers-reduced-data: no-preference);
@custom-media --useDataNotOK (prefers-reduced-data: reduce);

@custom-media --OSdark (prefers-color-scheme: dark);
@custom-media --OSlight (prefers-color-scheme: light);
