@responsive {
  .op-t {
    object-position: top;
  }
  .op-l {
    object-position: left;
  }
  .op-r {
    object-position: right;
  }
  .op-b {
    object-position: bottom;
  }
  .op-c {
    object-position: center;
  }
  .op-tl {
    object-position: top left;
  }
  .op-tr {
    object-position: top right;
  }
  .op-bl {
    object-position: bottom left;
  }
  .op-br {
    object-position: bottom right;
  }
}
