@responsive {
	.p-0 {
		padding: var(--space-0);
	}
	.p-0_5 {
		padding: var(--space-0-5);
	}
	.p-1 {
		padding: var(--space-1);
	}
	.p-1_5 {
		padding: var(--space-1-5);
	}
	.p-2 {
		padding: var(--space-2);
	}
	.p-2_5 {
		padding: var(--space-2-5);
	}
	.p-3 {
		padding: var(--space-3);
	}
	.p-3_5 {
		padding: var(--space-3-5);
	}
	.p-4 {
		padding: var(--space-4);
	}
	.p-5 {
		padding: var(--space-5);
	}
	.p-6 {
		padding: var(--space-6);
	}
	.p-7 {
		padding: var(--space-7);
	}
	.p-8 {
		padding: var(--space-8);
	}
	.p-9 {
		padding: var(--space-9);
	}
	.p-10 {
		padding: var(--space-10);
	}
	.p-11 {
		padding: var(--space-11);
	}
	.p-12 {
		padding: var(--space-12);
	}
	.p-13 {
		padding: var(--space-13);
	}
	.p-14 {
		padding: var(--space-14);
	}
	.p-15 {
		padding: var(--space-15);
	}
	.p-16 {
		padding: var(--space-16);
	}
	.p-20 {
		padding: var(--space-20);
	}
	.p-24 {
		padding: var(--space-24);
	}
	.p-28 {
		padding: var(--space-28);
	}
	.p-32 {
		padding: var(--space-32);
	}
	.p-36 {
		padding: var(--space-36);
	}
	.p-40 {
		padding: var(--space-40);
	}
	.p-44 {
		padding: var(--space-44);
	}
	.p-48 {
		padding: var(--space-48);
	}
	.p-52 {
		padding: var(--space-52);
	}
	.p-56 {
		padding: var(--space-56);
	}
	.p-60 {
		padding: var(--space-60);
	}
	.p-64 {
		padding: var(--space-64);
	}
	.p-72 {
		padding: var(--space-72);
	}
	.p-80 {
		padding: var(--space-80);
	}
	.p-84 {
		padding: var(--space-84);
	}
	.p-96 {
		padding: var(--space-96);
	}
	.p-100 {
		padding: var(--space-100);
	}

	.px-0 {
		padding-left: var(--space-0);
		padding-right: var(--space-0);
	}
	.px-0_5 {
		padding-left: var(--space-0-5);
		padding-right: var(--space-0-5);
	}
	.px-1 {
		padding-left: var(--space-1);
		padding-right: var(--space-1);
	}
	.px-1_5 {
		padding-left: var(--space-1-5);
		padding-right: var(--space-1-5);
	}
	.px-2 {
		padding-left: var(--space-2);
		padding-right: var(--space-2);
	}
	.px-2_5 {
		padding-left: var(--space-2-5);
		padding-right: var(--space-2-5);
	}
	.px-3 {
		padding-left: var(--space-3);
		padding-right: var(--space-3);
	}
	.px-3_5 {
		padding-left: var(--space-3-5);
		padding-right: var(--space-3-5);
	}
	.px-4 {
		padding-left: var(--space-4);
		padding-right: var(--space-4);
	}
	.px-5 {
		padding-left: var(--space-5);
		padding-right: var(--space-5);
	}
	.px-6 {
		padding-left: var(--space-6);
		padding-right: var(--space-6);
	}
	.px-7 {
		padding-left: var(--space-7);
		padding-right: var(--space-7);
	}
	.px-8 {
		padding-left: var(--space-8);
		padding-right: var(--space-8);
	}
	.px-9 {
		padding-left: var(--space-9);
		padding-right: var(--space-9);
	}
	.px-10 {
		padding-left: var(--space-10);
		padding-right: var(--space-10);
	}
	.px-11 {
		padding-left: var(--space-11);
		padding-right: var(--space-11);
	}
	.px-12 {
		padding-left: var(--space-12);
		padding-right: var(--space-12);
	}
	.px-13 {
		padding-left: var(--space-13);
		padding-right: var(--space-13);
	}
	.px-14 {
		padding-left: var(--space-14);
		padding-right: var(--space-14);
	}
	.px-15 {
		padding-left: var(--space-15);
		padding-right: var(--space-15);
	}
	.px-16 {
		padding-left: var(--space-16);
		padding-right: var(--space-16);
	}
	.px-20 {
		padding-left: var(--space-20);
		padding-right: var(--space-20);
	}
	.px-24 {
		padding-left: var(--space-24);
		padding-right: var(--space-24);
	}
	.px-28 {
		padding-left: var(--space-28);
		padding-right: var(--space-28);
	}
	.px-32 {
		padding-left: var(--space-32);
		padding-right: var(--space-32);
	}
	.px-36 {
		padding-left: var(--space-36);
		padding-right: var(--space-36);
	}
	.px-40 {
		padding-left: var(--space-40);
		padding-right: var(--space-40);
	}
	.px-44 {
		padding-left: var(--space-44);
		padding-right: var(--space-44);
	}
	.px-48 {
		padding-left: var(--space-48);
		padding-right: var(--space-48);
	}
	.px-52 {
		padding-left: var(--space-52);
		padding-right: var(--space-52);
	}
	.px-56 {
		padding-left: var(--space-56);
		padding-right: var(--space-56);
	}
	.px-60 {
		padding-left: var(--space-60);
		padding-right: var(--space-60);
	}
	.px-64 {
		padding-left: var(--space-64);
		padding-right: var(--space-64);
	}
	.px-72 {
		padding-left: var(--space-72);
		padding-right: var(--space-72);
	}
	.px-80 {
		padding-left: var(--space-80);
		padding-right: var(--space-80);
	}
	.px-84 {
		padding-left: var(--space-84);
		padding-right: var(--space-84);
	}
	.px-96 {
		padding-left: var(--space-96);
		padding-right: var(--space-96);
	}
	.px-100 {
		padding-left: var(--space-100);
		padding-right: var(--space-100);
	}

	.py-0 {
		padding-bottom: var(--space-0);
		padding-top: var(--space-0);
	}
	.py-0_5 {
		padding-bottom: var(--space-0-5);
		padding-top: var(--space-0-5);
	}
	.py-1 {
		padding-bottom: var(--space-1);
		padding-top: var(--space-1);
	}
	.py-1_5 {
		padding-bottom: var(--space-1-5);
		padding-top: var(--space-1-5);
	}
	.py-2 {
		padding-bottom: var(--space-2);
		padding-top: var(--space-2);
	}
	.py-2_5 {
		padding-bottom: var(--space-2-5);
		padding-top: var(--space-2-5);
	}
	.py-3 {
		padding-bottom: var(--space-3);
		padding-top: var(--space-3);
	}
	.py-3_5 {
		padding-bottom: var(--space-3-5);
		padding-top: var(--space-3-5);
	}
	.py-4 {
		padding-bottom: var(--space-4);
		padding-top: var(--space-4);
	}
	.py-5 {
		padding-bottom: var(--space-5);
		padding-top: var(--space-5);
	}
	.py-6 {
		padding-bottom: var(--space-6);
		padding-top: var(--space-6);
	}
	.py-7 {
		padding-bottom: var(--space-7);
		padding-top: var(--space-7);
	}
	.py-8 {
		padding-bottom: var(--space-8);
		padding-top: var(--space-8);
	}
	.py-9 {
		padding-bottom: var(--space-9);
		padding-top: var(--space-9);
	}
	.py-10 {
		padding-bottom: var(--space-10);
		padding-top: var(--space-10);
	}
	.py-11 {
		padding-bottom: var(--space-11);
		padding-top: var(--space-11);
	}
	.py-12 {
		padding-bottom: var(--space-12);
		padding-top: var(--space-12);
	}
	.py-13 {
		padding-bottom: var(--space-13);
		padding-top: var(--space-13);
	}
	.py-14 {
		padding-bottom: var(--space-14);
		padding-top: var(--space-14);
	}
	.py-15 {
		padding-bottom: var(--space-15);
		padding-top: var(--space-15);
	}
	.py-16 {
		padding-bottom: var(--space-16);
		padding-top: var(--space-16);
	}
	.py-20 {
		padding-bottom: var(--space-20);
		padding-top: var(--space-20);
	}
	.py-24 {
		padding-bottom: var(--space-24);
		padding-top: var(--space-24);
	}
	.py-28 {
		padding-bottom: var(--space-28);
		padding-top: var(--space-28);
	}
	.py-32 {
		padding-bottom: var(--space-32);
		padding-top: var(--space-32);
	}
	.py-36 {
		padding-bottom: var(--space-36);
		padding-top: var(--space-36);
	}
	.py-40 {
		padding-bottom: var(--space-40);
		padding-top: var(--space-40);
	}
	.py-44 {
		padding-bottom: var(--space-44);
		padding-top: var(--space-44);
	}
	.py-48 {
		padding-bottom: var(--space-48);
		padding-top: var(--space-48);
	}
	.py-52 {
		padding-bottom: var(--space-52);
		padding-top: var(--space-52);
	}
	.py-56 {
		padding-bottom: var(--space-56);
		padding-top: var(--space-56);
	}
	.py-60 {
		padding-bottom: var(--space-60);
		padding-top: var(--space-60);
	}
	.py-64 {
		padding-bottom: var(--space-64);
		padding-top: var(--space-64);
	}
	.py-72 {
		padding-bottom: var(--space-72);
		padding-top: var(--space-72);
	}
	.py-80 {
		padding-bottom: var(--space-80);
		padding-top: var(--space-80);
	}
	.py-84 {
		padding-bottom: var(--space-84);
		padding-top: var(--space-84);
	}
	.py-96 {
		padding-bottom: var(--space-96);
		padding-top: var(--space-96);
	}
	.py-100 {
		padding-bottom: var(--space-100);
		padding-top: var(--space-100);
	}

	.pt-0 {
		padding-top: var(--space-0);
	}
	.pt-0_5 {
		padding-top: var(--space-0-5);
	}
	.pt-1 {
		padding-top: var(--space-1);
	}
	.pt-1_5 {
		padding-top: var(--space-1-5);
	}
	.pt-2 {
		padding-top: var(--space-2);
	}
	.pt-2_5 {
		padding-top: var(--space-2-5);
	}
	.pt-3 {
		padding-top: var(--space-3);
	}
	.pt-3_5 {
		padding-top: var(--space-3-5);
	}
	.pt-4 {
		padding-top: var(--space-4);
	}
	.pt-5 {
		padding-top: var(--space-5);
	}
	.pt-6 {
		padding-top: var(--space-6);
	}
	.pt-7 {
		padding-top: var(--space-7);
	}
	.pt-8 {
		padding-top: var(--space-8);
	}
	.pt-9 {
		padding-top: var(--space-9);
	}
	.pt-10 {
		padding-top: var(--space-10);
	}
	.pt-11 {
		padding-top: var(--space-11);
	}
	.pt-12 {
		padding-top: var(--space-12);
	}
	.pt-13 {
		padding-top: var(--space-13);
	}
	.pt-14 {
		padding-top: var(--space-14);
	}
	.pt-15 {
		padding-top: var(--space-15);
	}
	.pt-16 {
		padding-top: var(--space-16);
	}
	.pt-20 {
		padding-top: var(--space-20);
	}
	.pt-24 {
		padding-top: var(--space-24);
	}
	.pt-28 {
		padding-top: var(--space-28);
	}
	.pt-32 {
		padding-top: var(--space-32);
	}
	.pt-36 {
		padding-top: var(--space-36);
	}
	.pt-40 {
		padding-top: var(--space-40);
	}
	.pt-44 {
		padding-top: var(--space-44);
	}
	.pt-48 {
		padding-top: var(--space-48);
	}
	.pt-52 {
		padding-top: var(--space-52);
	}
	.pt-56 {
		padding-top: var(--space-56);
	}
	.pt-60 {
		padding-top: var(--space-60);
	}
	.pt-64 {
		padding-top: var(--space-64);
	}
	.pt-72 {
		padding-top: var(--space-72);
	}
	.pt-80 {
		padding-top: var(--space-80);
	}
	.pt-84 {
		padding-top: var(--space-84);
	}
	.pt-96 {
		padding-top: var(--space-96);
	}
	.pt-100 {
		padding-top: var(--space-100);
	}

	.pb-0 {
		padding-bottom: var(--space-0);
	}
	.pb-0_5 {
		padding-bottom: var(--space-0-5);
	}
	.pb-1 {
		padding-bottom: var(--space-1);
	}
	.pb-1_5 {
		padding-bottom: var(--space-1-5);
	}
	.pb-2 {
		padding-bottom: var(--space-2);
	}
	.pb-2_5 {
		padding-bottom: var(--space-2-5);
	}
	.pb-3 {
		padding-bottom: var(--space-3);
	}
	.pb-3_5 {
		padding-bottom: var(--space-3-5);
	}
	.pb-4 {
		padding-bottom: var(--space-4);
	}
	.pb-5 {
		padding-bottom: var(--space-5);
	}
	.pb-6 {
		padding-bottom: var(--space-6);
	}
	.pb-7 {
		padding-bottom: var(--space-7);
	}
	.pb-8 {
		padding-bottom: var(--space-8);
	}
	.pb-9 {
		padding-bottom: var(--space-9);
	}
	.pb-10 {
		padding-bottom: var(--space-10);
	}
	.pb-11 {
		padding-bottom: var(--space-11);
	}
	.pb-12 {
		padding-bottom: var(--space-12);
	}
	.pb-13 {
		padding-bottom: var(--space-13);
	}
	.pb-14 {
		padding-bottom: var(--space-14);
	}
	.pb-15 {
		padding-bottom: var(--space-15);
	}
	.pb-16 {
		padding-bottom: var(--space-16);
	}
	.pb-20 {
		padding-bottom: var(--space-20);
	}
	.pb-24 {
		padding-bottom: var(--space-24);
	}
	.pb-28 {
		padding-bottom: var(--space-28);
	}
	.pb-32 {
		padding-bottom: var(--space-32);
	}
	.pb-36 {
		padding-bottom: var(--space-36);
	}
	.pb-40 {
		padding-bottom: var(--space-40);
	}
	.pb-44 {
		padding-bottom: var(--space-44);
	}
	.pb-48 {
		padding-bottom: var(--space-48);
	}
	.pb-52 {
		padding-bottom: var(--space-52);
	}
	.pb-56 {
		padding-bottom: var(--space-56);
	}
	.pb-60 {
		padding-bottom: var(--space-60);
	}
	.pb-64 {
		padding-bottom: var(--space-64);
	}
	.pb-72 {
		padding-bottom: var(--space-72);
	}
	.pb-80 {
		padding-bottom: var(--space-80);
	}
	.pb-84 {
		padding-bottom: var(--space-84);
	}
	.pb-96 {
		padding-bottom: var(--space-96);
	}
	.pb-100 {
		padding-bottom: var(--space-100);
	}

	.pl-0 {
		padding-left: var(--space-0);
	}
	.pl-0_5 {
		padding-left: var(--space-0-5);
	}
	.pl-1 {
		padding-left: var(--space-1);
	}
	.pl-1_5 {
		padding-left: var(--space-1-5);
	}
	.pl-2 {
		padding-left: var(--space-2);
	}
	.pl-2_5 {
		padding-left: var(--space-2-5);
	}
	.pl-3 {
		padding-left: var(--space-3);
	}
	.pl-3_5 {
		padding-left: var(--space-3-5);
	}
	.pl-4 {
		padding-left: var(--space-4);
	}
	.pl-5 {
		padding-left: var(--space-5);
	}
	.pl-6 {
		padding-left: var(--space-6);
	}
	.pl-7 {
		padding-left: var(--space-7);
	}
	.pl-8 {
		padding-left: var(--space-8);
	}
	.pl-9 {
		padding-left: var(--space-9);
	}
	.pl-10 {
		padding-left: var(--space-10);
	}
	.pl-11 {
		padding-left: var(--space-11);
	}
	.pl-12 {
		padding-left: var(--space-12);
	}
	.pl-13 {
		padding-left: var(--space-13);
	}
	.pl-14 {
		padding-left: var(--space-14);
	}
	.pl-15 {
		padding-left: var(--space-15);
	}
	.pl-16 {
		padding-left: var(--space-16);
	}
	.pl-20 {
		padding-left: var(--space-20);
	}
	.pl-24 {
		padding-left: var(--space-24);
	}
	.pl-28 {
		padding-left: var(--space-28);
	}
	.pl-32 {
		padding-left: var(--space-32);
	}
	.pl-36 {
		padding-left: var(--space-36);
	}
	.pl-40 {
		padding-left: var(--space-40);
	}
	.pl-44 {
		padding-left: var(--space-44);
	}
	.pl-48 {
		padding-left: var(--space-48);
	}
	.pl-52 {
		padding-left: var(--space-52);
	}
	.pl-56 {
		padding-left: var(--space-56);
	}
	.pl-60 {
		padding-left: var(--space-60);
	}
	.pl-64 {
		padding-left: var(--space-64);
	}
	.pl-72 {
		padding-left: var(--space-72);
	}
	.pl-80 {
		padding-left: var(--space-80);
	}
	.pl-84 {
		padding-left: var(--space-84);
	}
	.pl-96 {
		padding-left: var(--space-96);
	}
	.pl-100 {
		padding-left: var(--space-100);
	}

	.pr-0 {
		padding-right: var(--space-0);
	}
	.pr-0_5 {
		padding-right: var(--space-0-5);
	}
	.pr-1 {
		padding-right: var(--space-1);
	}
	.pr-1_5 {
		padding-right: var(--space-1-5);
	}
	.pr-2 {
		padding-right: var(--space-2);
	}
	.pr-2_5 {
		padding-right: var(--space-2-5);
	}
	.pr-3 {
		padding-right: var(--space-3);
	}
	.pr-3_5 {
		padding-right: var(--space-3-5);
	}
	.pr-4 {
		padding-right: var(--space-4);
	}
	.pr-5 {
		padding-right: var(--space-5);
	}
	.pr-6 {
		padding-right: var(--space-6);
	}
	.pr-7 {
		padding-right: var(--space-7);
	}
	.pr-8 {
		padding-right: var(--space-8);
	}
	.pr-9 {
		padding-right: var(--space-9);
	}
	.pr-10 {
		padding-right: var(--space-10);
	}
	.pr-11 {
		padding-right: var(--space-11);
	}
	.pr-12 {
		padding-right: var(--space-12);
	}
	.pr-13 {
		padding-right: var(--space-13);
	}
	.pr-14 {
		padding-right: var(--space-14);
	}
	.pr-15 {
		padding-right: var(--space-15);
	}
	.pr-16 {
		padding-right: var(--space-16);
	}
	.pr-20 {
		padding-right: var(--space-20);
	}
	.pr-24 {
		padding-right: var(--space-24);
	}
	.pr-28 {
		padding-right: var(--space-28);
	}
	.pr-32 {
		padding-right: var(--space-32);
	}
	.pr-36 {
		padding-right: var(--space-36);
	}
	.pr-40 {
		padding-right: var(--space-40);
	}
	.pr-44 {
		padding-right: var(--space-44);
	}
	.pr-48 {
		padding-right: var(--space-48);
	}
	.pr-52 {
		padding-right: var(--space-52);
	}
	.pr-56 {
		padding-right: var(--space-56);
	}
	.pr-60 {
		padding-right: var(--space-60);
	}
	.pr-64 {
		padding-right: var(--space-64);
	}
	.pr-72 {
		padding-right: var(--space-72);
	}
	.pr-80 {
		padding-right: var(--space-80);
	}
	.pr-84 {
		padding-right: var(--space-84);
	}
	.pr-96 {
		padding-right: var(--space-96);
	}
	.pr-100 {
		padding-right: var(--space-100);
	}
}
