.p-content-center {
	place-content: center;
}
.p-content-start {
	place-content: start;
}
.p-content-end {
	place-content: end;
}
.p-content-between {
	place-content: between;
}
.p-content-around {
	place-content: around;
}
.p-content-evenly {
	place-content: evenly;
}
.p-content-stretch {
	place-content: stretch;
}
.p-content-flex-start {
	place-content: flex-start;
}
.p-content-flex-end {
	place-content: flex-end;
}
.p-content-left {
	place-content: left;
}
.p-content-right {
	place-content: right;
}
.p-content-normal {
	place-content: normal;
}
