@responsive {
  .title-1 .title-1_article,
  .title-1_med,
  .title-1_semibold,
  .title-1_bold {
    font-size: var(--title-1);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-125);
    letter-spacing: var(--ls-02);
  }

  .title-2,
  .title-2_article,
  .title-2_med,
  .title-2_semibold,
  .title-2_bold {
    font-size: var(--title-2);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-116);
    letter-spacing: var(--ls-015);
  }

  .title-3,
  .title-3_article,
  .title-3_med,
  .title-3_semibold,
  .title-3_bold {
    font-size: var(--title-3);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-125);
  }

  .title-4,
  .title-4_article,
  .title-4_med,
  .title-4_semibold,
  .title-4_bold {
    font-size: var(--title-4);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-125);
    letter-spacing: var(--ls-01);
  }

  .title-5,
  .title-5_article,
  .title-5_med,
  .title-5_semibold,
  .title-5_bold {
    font-size: var(--title-5);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-133);
    letter-spacing: var(--ls-075);
  }

  .title-6,
  .title-6_article,
  .title-6_med,
  .title-6_semibold,
  .title-6_bold {
    font-size: var(--title-6);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-160);
    letter-spacing: var(--ls-05);
  }

  .copy,
  .copy_article,
  .copy_med,
  .copy_semibold,
  .copy_bold,
  .copy_italic,
  .copy_link {
    font-size: var(--copy);
    font-weight: var(--fw-4);
    font-family: var(--serif);
    line-height: var(--lh-133);
    letter-spacing: var(--ls-025);
  }

  .body,
  .body_article,
  .body_med,
  .body_semibold,
  .body_bold,
  .body_italic,
  .body_link {
    font-size: var(--body);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-150);
    letter-spacing: var(--ls-025);
  }

  .label,
  .label_article,
  .label_med,
  .label_semibold,
  .label_bold,
  .label_italic,
  .label_link {
    font-size: var(--label);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-171);
  }

  .caption,
  .caption_article,
  .caption_med,
  .caption_semibold,
  .caption_bold,
  .caption_italic,
  .caption_link {
    font-size: var(--caption);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-133);
  }

  .small,
  .small_article,
  .small_med,
  .small_semibold,
  .small_bold,
  .small_italic,
  .small_link {
    font-size: var(--small);
    font-weight: var(--fw-4);
    font-family: var(--sans);
    line-height: var(--lh-120);
  }

  .overline-large,
  .overline-large_med,
  .overline-large_semibold,
  .overline-large_bold {
    font-size: var(--overline-large);
    font-weight: var(--fw-7);
    font-family: var(--sans);
    line-height: var(--lh-109);
    letter-spacing: var(--ls-1);
    text-transform: uppercase;
  }

  .overline-small,
  .overline-small_med,
  .overline-small_semibold,
  .overline-small_bold {
    font-size: var(--overline-small);
    font-weight: var(--fw-7);
    font-family: var(--sans);
    line-height: var(--lh-133);
    letter-spacing: var(--ls-1);
    text-transform: uppercase;
  }

  .copy_article,
  .body_article,
  .label_article,
  .caption_article,
  .small_article {
    font-family: var(--serif);
  }
  .title-1_med,
  .title-2_med,
  .title-3_med,
  .title-4_med,
  .title-5_med,
  .title-6_med,
  .copy_med,
  .body_med,
  .label_med,
  .caption_med,
  .small_med,
  .copy_italic,
  .body_italic,
  .label_italic,
  .caption_italic,
  .small_italic,
  .copy_link,
  .body_link,
  .label_link,
  .caption_link,
  .small_link,
  .overline-large_med,
  .overline-small_med {
    font-weight: var(--fw-5);
  }
  .title-1_article,
  .title-2_article,
  .title-3_article,
  .title-4_article,
  .title-5_article,
  .title-6_article,
  .title-1_semibold,
  .title-2_semibold,
  .title-3_semibold,
  .title-4_semibold,
  .title-5_semibold,
  .title-6_semibold,
  .copy_semibold,
  .body_semibold,
  .label_semibold,
  .caption_semibold,
  .small_semibold,
  .overline-large_semibold,
  .overline-small_semibold {
    font-weight: var(--fw-6);
  }

  .title-1_bold,
  .title-2_bold,
  .title-3_bold,
  .title-4_bold,
  .title-5_bold,
  .title-6_bold,
  .copy_bold,
  .body_bold,
  .label_bold,
  .caption_bold,
  .small_bold,
  .overline-large_bold,
  .overline-small_bold {
    font-weight: var(--fw-7);
  }

  .copy_med,
  .copy_semibold,
  .copy_italic,
  .copy_link {
    font-family: var(--sans);
  }

  .copy_italic,
  .body_italic,
  .label_italic,
  .caption_italic,
  .small_italic {
    font-style: italic;
  }
  .copy_link,
  .body_link,
  .label_link,
  .caption_link,
  .small_link {
    text-decoration: underline;
  }

  .quote {
    font-size: var(--quote);
    font-weight: var(--fw-5);
    font-family: var(--serif);
    font-style: italic;
    line-height: var(--lh-120);
    quotes: '“' '”' '‘' '’';
  }
  .quote:before {
    content: open-quote;
  }
  .quote:after {
    content: close-quote;
  }
}
