.v-align-baseline {
	vertical-align: baseline;
}
.v-align-bottom {
	vertical-align: bottom;
}
.v-align-middle {
	vertical-align: middle;
}
.v-align-top {
	vertical-align: top;
}
.v-align-text-bottom {
	vertical-align: text-bottom;
}
.v-align-text-top {
	vertical-align: text-top;
}
.v-align-sub {
	vertical-align: sub;
}
.v-align-super {
	vertical-align: super;
}

._v-align {
	--_v-align: var(--v-align, baseline);
	vertical-align: var(_v-align);
}
