@responsize {
	@import "./css/normalize.css";
	@import "./css/media-queries-props.css";
	@import "./css/colors-props.css";
	@import "./css/spacing-props.css";
	@import "./css/typography-props.css";
	@import "./css/colors-alerts-bg.css";
	@import "./css/colors-alerts.css";
	@import "./css/colors-brand-bg.css";
	@import "./css/colors-brand.css";
	@import "./css/colors-gradients.css";
	@import "./css/colors-gray-bg.css";
	@import "./css/colors-gray.css";
	@import "./css/colors-neutral-bg.css";
	@import "./css/colors-neutral.css";
	@import "./css/colors-state-bg.css";
	@import "./css/colors-state.css";
	@import "./css/typography-styles.css";
	@import "./css/margin.css";
	@import "./css/padding.css";
	@import "./css/display.css";
	@import "./css/flex.css";
	@import "./css/flex-direction.css";
	@import "./css/flex-wrap.css";
	@import "./css/align-content.css";
	@import "./css/align-items.css";
	@import "./css/align-self.css";
	@import "./css/justify-content.css";
	@import "./css/justify-items.css";
	@import "./css/justify-self.css";
	@import "./css/gap.css";
	@import "./css/grid-auto-columns.css";
	@import "./css/grid-auto-flow.css";
	@import "./css/grid-auto-rows.css";
	@import "./css/grid-columns.css";
	@import "./css/grid-rows.css";
	@import "./css/grid-span.css";
	@import "./css/grid-start-end.css";
	@import "./css/container.css";
	@import "./css/aspect-ratio.css";
	@import "./css/border-radius.css";
	@import "./css/box-sizing.css";
	@import "./css/cursor.css";
	@import "./css/float.css";
	@import "./css/clear-fix.css";
	@import "./css/focus.css";
	@import "./css/font-style.css";
	@import "./css/font-weight.css";
	@import "./css/height.css";
	@import "./css/hide-scroll.css";
	@import "./css/list.css";
	@import "./css/max-height.css";
	@import "./css/max-width.css";
	@import "./css/min-height.css";
	@import "./css/min-width.css";
	@import "./css/normalize.css";
	@import "./css/object-fit.css";
	@import "./css/object-position.css";
	@import "./css/opacity.css";
	@import "./css/overflow.css";
	@import "./css/overscroll-behaviour.css";
	@import "./css/place-content.css";
	@import "./css/pointer-events.css";
	@import "./css/position.css";
	@import "./css/resize.css";
	@import "./css/rotate.css";
	@import "./css/text-align.css";
	@import "./css/text-decoration.css";
	@import "./css/text-shadow.css";
	@import "./css/text-transform.css";
	@import "./css/text-underline-offset.css";
	@import "./css/vertical-align.css";
	@import "./css/visibility.css";
	@import "./css/white-space.css";
	@import "./css/width.css";
	@import "./css/word-break.css";
	@import "./css/z-index.css";
	@import "./css/custom.css";
}
