.underline-offset-auto {
  text-underline-offset: auto;
}
.underline-offset-1px {
  text-underline-offset: 1px;
}
.underline-offset-2px {
  text-underline-offset: 2px;
}
.underline-offset-4px {
  text-underline-offset: 4px;
}
