.lime-light_active {
  color: var(--lime-light);
}
.lime_active {
  color: var(--lime);
}
.lime-dark_active {
  color: var(--lime-dark);
}
.lime-light-bg_active {
  background-color: var(--lime-light);
}
.lime-bg_active {
  background-color: var(--lime);
}
.lime-dark-bg_active {
  background-color: var(--lime-dark);
}
