.white_active:active {
  color: var(--white);
}
.white-90_active:active {
  color: var(--white-90);
}
.white-80_active:active {
  color: var(--white-80);
}
.white-70_active:active {
  color: var(--white-70);
}
.white-60_active:active {
  color: var(--white-60);
}
.white-50_active:active {
  color: var(--white-50);
}
.white-40_active:active {
  color: var(--white-40);
}
.white-30_active:active {
  color: var(--white-30);
}
.white-20_active:active {
  color: var(--white-20);
}
.white-10_active:active {
  color: var(--white-10);
}
.white-bg_active:active {
  color: var(--white);
}
.white-90-bg_active:active {
  color: var(--white-90);
}
.white-80-bg_active:active {
  color: var(--white-80);
}
.white-70-bg_active:active {
  color: var(--white-70);
}
.white-60-bg_active:active {
  color: var(--white-60);
}
.white-50-bg_active:active {
  color: var(--white-50);
}
.white-40-bg_active:active {
  color: var(--white-40);
}
.white-30-bg_active:active {
  color: var(--white-30);
}
.white-20-bg_active:active {
  color: var(--white-20);
}
.white-10-bg_active:active {
  color: var(--white-10);
}
